# Environment that does not use a GPU
#  Installs packages needed for all features
name: mofa
channels:
  - defaults
  - conda-forge
dependencies:
  - python==3.10.*

  # Standard data analysis tools
  - pandas==1.*
  - scipy==1.10.*
  - scikit-learn
  - jupyterlab
  - matplotlib
  - pytest


  # Tools used as part of the ML packages
  - imageio
  - pytorch-lightning<2
  - wandb

  # Tools to work with crystalline and molecular data
  - openbabel==3.1.*
  - rdkit==2023.03.2
  - pymatgen==2023.8.10
  - scikit-learn==1.3.0

  # Tools used for simulation
  - lammps

  # Use Conda PyTorch to avoid OpenMP disagreement with other libraries
  - pytorch==1.13.*=*cpu*

  - pip
  - pip:
    - git+https://gitlab.com/ase/ase.git
    - -e ..[test]
