# Install using ./envs/build-aurora.sh
# Uses PyTorch Extensions from Intel:
# https://intel.github.io/intel-extension-for-pytorch/index.html#installation?platform=gpu&version=v2.1.10%2Bxpu
name: mofa
channels:
  - intel
  - defaults
  - conda-forge
dependencies:
  - python==3.10.*

  # Standard data analysis tools
  - pandas==1.*
  - scipy==1.10.*
  - scikit-learn
  - jupyterlab
  - matplotlib
  - pytest

  # Tools used as part of the ML packages
  - imageio
  - wandb

  # Tools to work with crystalline and molecular data
  - openbabel==3.1.*
  - rdkit==2023.03.2
  - pymatgen==2023.8.10
  - scikit-learn==1.3.0
  - conda-forge::chargemol

  # Services used by the workflow
  - redis==5.*

  # PyTorch + IPEX from Intel's Conda channel
  - pytorch==2.1.0
  - intel-extension-for-pytorch==2.1.10
  - intel::torchvision

  - pip
  - pip:
    - pytorch-lightning<2
    - git+https://gitlab.com/ase/ase.git
    - git+https://github.com/exalearn/colmena.git  # Fixes for streaming not yet on PyPI
    - -e ..[test]

