# Install CUDA from Anaconda
name: mofa
channels:
  - defaults
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python==3.10.*

  # Standard data analysis tools
  - pandas==1.*
  - scipy==1.10.*
  - scikit-learn
  - jupyterlab
  - matplotlib
  - pytest

  # Tools used as part of the ML packages
  - imageio
  - pytorch-lightning<2
  - wandb

  # Tools to work with crystalline and molecular data
  - openbabel==3.1.*
  - rdkit==2023.03.2
  - pymatgen==2023.8.10
  - scikit-learn==1.3.0
  - cp2k

  # Use Conda PyTorch to avoid OpenMP disagreement with other libraries
  - pytorch::pytorch==1.13.1
  - pytorch::pytorch-cuda=11.7
  - nvidia::cudatoolkit=11.7

  # Services used by the workflow
  - redis==5.*
  - mongodb
  - mongo-tools

  - pip
  - pip:
    - git+https://gitlab.com/ase/ase.git
    - git+https://github.com/exalearn/colmena.git  # Fixes for streaming not yet on PyPI
    - -e ..[test]

