name: CI

on: [push, pull_request]

permissions:
  contents: read
  
defaults:
  run:
    shell: bash -el {0}  # Lets conda work

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@v3
    - name: Set up environment
      uses: conda-incubator/setup-miniconda@v2
      with:
        environment-file: envs/environment-cpu.yml
    - name: Install test dependencies
      run: |
        pip install -e .[test]
    - name: Add quantum chemistry tools (Linux)
      run: |
           if [ "$RUNNER_OS" == "Linux" ]; then
             sudo apt update
             sudo apt install -y cp2k lammps
           else
             echo "$RUNNER_OS not supported"
             exit 1
           fi
      shell: bash
    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 --exclude mofa/utils mofa tests run_*.py # Ignore utils for now
    - name: Test with pytest
      run: pytest --cov=mofa --timeout=300 tests
    - name: Coveralls
      run: |
        pip install coveralls
        coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
